
<% if mobile_device? %>
    <div class="container well" id="mobile-articles">
      <%= render :partial => 'mobile_show', :locals => {:articles => @articles} %>
    </div>
<% else %>
    <div class="container well full-container" id="main-articles">
      <%= render :partial => 'show', :locals => {:articles => @articles} %>
    </div>
<% end %>

