<%- model_class = Article -%>
<div class="page-header">

</div>

<% if mobile_device? %>
    <div class="container" id="mobile-articles">
        <%= render :partial => 'mobile_index', :locals => {:articles => @articles} %>
    </div>
<% else %>
    <div class="container" id="main-articles">
        <%= render :partial => 'index', :locals => {:articles => @articles} %>
    </div>
<% end %>


<%= link_to 'Mais Notícias', tag_path(:page => @articles.next_page), :class => 'load-more-tags', :remote => true if @articles.next_page %>



<div id="modal-comments" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="modal-comments-content" class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-heading"></h3>
    </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Fechar</a>
      </div>
     </div>
    </div>
</div>



<div id="modal-article" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="modal-article-content" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-heading"></h3>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Fechar</a>
      </div>
     </div>
    </div>
</div>

